<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
  <div class="container-fluid">
    <button class="btn d-block d-md-none text-light" (click)="displaySidebar = true">
      <i class="fa-solid fa-bars"></i>
    </button>

    <span>
      <b class="me-1">XD Testing</b>
      <small>Configurator</small>
    </span>

    <div class="d-none d-md-block">
      <a class="btn text-light" (click)="openModal()">
        <i class="fa-solid fa-caret-down"></i>
        &nbsp;
        <b class="me-1">{{ selectedRepo ?? 'No repository selected' }}</b>
        <small *ngIf="selectedBranch">({{ selectedBranch }})</small>
      </a>
    </div>
  </div>
</nav>

<div class="d-flex wrapper">
  <div class="sidebar bg-dark text-light" [class.opened]="displaySidebar">
    <div class="w-100 d-flex flex-column">

      <div class="text-end d-block d-md-none">
        <button class="btn text-light" (click)="displaySidebar = false">
          <i class="fa-solid fa-times"></i>
        </button>
      </div>

      <div class="d-block d-md-none">
        <a class="btn text-light text-start d-flex" (click)="openModal()">
          <i class="fa-solid fa-caret-down me-2"></i>
          &nbsp;
          <div>
            <b class="me-1">{{ selectedRepo ?? 'No repository selected' }}</b>
            <br>
            <small *ngIf="selectedBranch">({{ selectedBranch }})</small>
          </div>
        </a>
      </div>

      <a routerLink="/dashoard" routerLinkActive="active" class="mb-3">
        <i class="fa-solid fa-circle-check"></i>&nbsp;Dashboard
      </a>

      <a routerLink="/ontologies" routerLinkActive="active" class="mb-3" *ngIf="selectedRepo && selectedBranch">
        <i class="fa-solid fa-diagram-project"></i>&nbsp;Ontologies
      </a>

      <a routerLink="/fragments" routerLinkActive="active" class="mb-3" *ngIf="selectedRepo && selectedBranch">
        <i class="fa-solid fa-scroll"></i>&nbsp;Ontology Fragments

      </a>

      <a routerLink="/docs" routerLinkActive="active" class="mb-3">
        <i class="fa-solid fa-question"></i>&nbsp;Help
      </a>

    </div>
  </div>

  <div class="overlay"></div>

  <div class="main">
    <div *ngIf="apiService.$loading | async" class="w-100 h-100 d-flex align-items-center justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="!selectedRepo || !selectedBranch" class="w-100 h-100 d-flex align-items-center justify-content-center">
      <p class="m-0 text-center">
        <strong>You must select a repository and a branch to work on.</strong>
      </p>
    </div>

    <div class="container-fluid mt-3" [class.d-none]="apiService.$loading | async"
         *ngIf="selectedRepo && selectedBranch">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

