<!-- Alert to show errors during initialization -->
<config-alert [dismissable]="false" [isOpen]="initErrorMsg && !saved" type="danger">
  {{initErrorMsg}}
</config-alert>

<!-- Show title only if page corrected initialized -->
<ng-container *ngIf="!saved && fragment">
  <h1 class="mb-0">{{ test ? 'Edit' : 'Create'}} Test Case {{ test ? test.id : '' }}</h1>
  <h4 class="mb-5">{{fragment.name}}</h4>
</ng-container>

<!-- General alert -->
<config-alert [type]="saved ? 'success' : 'danger'" [(isOpen)]="showAlert" #alert>
  <ng-container *ngIf="saved">
    Test case successfully saved.<br>The test will now be started
    <br>
    <a [routerLink]="test ? '../..' : '..'" class="btn btn-link p-0 text-decoration-none">
      <i class="fa-solid fa-angle-left"></i>
      Back
    </a>
  </ng-container>
  <ng-container *ngIf="!saved">
    Error during test case save: {{ saveErrorMsg }}
  </ng-container>
</config-alert>

<!-- Show page body only if page corrected initialized -->
<ng-container *ngIf="!saved && fragment">
  <!-- Test status banner -->
  <config-alert [dismissable]="false"
                [isOpen]="(test?.status === 'error' || test?.status === 'failed') && (test?.statusNotes || test?.issue)"
                type="danger">
    <p>Test result: <b>{{ test?.status | titlecase }}</b></p>
    <p *ngIf="test?.statusNotes">{{ test?.statusNotes }}</p>
    <p *ngIf="test?.issue">
      See <a [href]="test?.issue">GitHub issue</a> for additional details
    </p>
  </config-alert>

  <!-- Test form -->
  <form [formGroup]="fg" (submit)="save()" novalidate>
    <h5 class="font-weight-bold">Details</h5>

    <div class="mb-3">
      <label for="test-type" class="form-label">
        Test Case Type
        <i class="fa-solid fa-circle-info tooltip-icon ms-2"
           pTooltip="There are three types of test cases that you can build based on the eXtreme Design methodology.
           Competency question verification tests allow verifying if the ontology can answer the competency questions
           that have been selected during the requirement collection phase. Inference verification tests allow verifying
           that the inference mechanisms are in place, to ensure the correct fulfilment of the inference requirement.
           Error provocation tests allow verifying how the ontology acts when it is fed random or incorrect data">
        </i>
      </label>
      <select id="test-type" class="form-select" configValidationFeedback formControlName="type" required (change)="onTypeSelect()">
        <option [value]="null"></option>
        <option *ngFor="let testType of testTypes | keyvalue" [value]="testType.key">{{ testType.value.label }}</option>
      </select>
    </div>

    <!-- Reasoner selection. -->
    <!-- Displayed only if test type is "INFERENCE_VERIFICATION" -->
    <div class="mb-3" *ngIf="fg?.controls?.type?.value === 'INFERENCE_VERIFICATION'">
      <label for="reasoner" class="form-label">Reasoner</label>
      <select id="reasoner" class="form-select" formControlName="reasoner" configValidationFeedback
              [required]="fg.controls.type.value === 'INFERENCE_VERIFICATION'">
        <option *ngFor="let reasoner of reasoners" [value]="reasoner">{{reasoner}}</option>
      </select>
    </div>

    <!-- Test case requirement. Displayed only if test type is no "ERROR_PROVOCATION" -->
    <div class="mb-3" *ngIf="fg?.controls?.type?.value !== 'ERROR_PROVOCATION'">
      <label for="content" class="form-label">
        Test Case Requirement
        <i class="fa-solid fa-circle-info tooltip-icon ms-2"
           pTooltip="A requirement in eXtreme Design can be a competency question or a general constraint that is
           collected by means of an expert- or data-driven story">
        </i>
      </label>
      <textarea id="content" class="form-control" formControlName="content" configValidationFeedback
                [required]="fg.controls.type.value === 'ERROR_PROVOCATION'"></textarea>
    </div>

    <!-- Query input, file or plain text. Displayed only if test type is no "ERROR_PROVOCATION" -->
    <config-file-input *ngIf="fg?.controls?.type?.value !== 'ERROR_PROVOCATION'" [formGroupSpec]="queryFg"
                       [currentFile]="test?.queryFileName" (onShowExistingFiles)="selectFile($event)"></config-file-input>


    <!-- Data section -->
    <h5 class="font-weight-bold mt-5 mb-3">
      Data
      <i class="fa-solid fa-circle-info tooltip-icon ms-2"
         pTooltip="Sample datasets are real of fictional data that are used to execute the test case on. You can upload
         your sample dataset file or can build it on the fly. For further detail on how to build the sample dataset on
         the fly please refer to the guidelines in the tab on the left">
      </i>
    </h5>

    <!-- Data file input and switches -->
    <config-file-input [formGroupSpec]="dataFg" [showDefaultInput]="false" [currentFile]="test?.dataFileName"
                       (onShowExistingFiles)="selectFile($event)"
                       (onToggleUploadOrSelectUploaded)="resetDataAndExpectedResults('data', $event)">
    </config-file-input>

    <!-- Expected result file input and switches -->
    <config-file-input [formGroupSpec]="expectedResultFg" [showDefaultInput]="false" [currentFile]="test?.expectedResultsFileName"
                       (onShowExistingFiles)="selectFile($event)"
                       (onToggleUploadOrSelectUploaded)="resetDataAndExpectedResults('expectedResults', $event)">
    </config-file-input>

    <!-- Data and expected results raw input -->
    <config-data-input *ngIf="(!useExpectedResultsFile && fg?.controls?.type?.value === 'COMPETENCY_QUESTION') || !useDataFile"
                       [withExpectedResults]="!useExpectedResultsFile && !useDataFile && fg.controls.type.value === 'COMPETENCY_QUESTION'"
                       [onlyExpectedResults]="useDataFile" [formGroup]="fg.controls.dataContent"></config-data-input>


    <div class="text-end my-4">
      <a [routerLink]="test ? '../..' : '..'" class="btn btn-secondary w-100 w-sm-auto mb-1 mb-sm-0 me-0 me-sm-1">
        Cancel
      </a>

      <button type="submit" class="btn btn-primary w-100 w-sm-auto ">
        Save
      </button>
    </div>
  </form>
</ng-container>


<ng-container *ngIf="saved && savedTestSummary">
  <config-summary [data]="savedTestSummary"></config-summary>
</ng-container>
