.git
.github
.vscode

configurator/.angular
configurator/.idea
configurator/.vscode
configurator/coverage
configurator/node_modules

server/.idea
server/.vscode
server/coverage
server/vendor
server/composer.phar