<h1 class="mb-5">Create new Ontology Fragment</h1>

<!-- Alert to show after ontology fragment has been saved -->
<div class="alert alert-{{saved ? 'success' : 'danger'}}" *ngIf="showAlert">
  <div class="row">
    <div class="col">
      <ng-container *ngIf="saved">
        Ontology fragment successfully saved
        <br>
        <a routerLink=".." class="btn btn-link p-0 text-decoration-none">
          <i class="fa-solid fa-angle-left"></i>
          Back
        </a>
      </ng-container>
      <ng-container *ngIf="!saved">
        Error during ontology fragment save: {{ errorMsg }}
      </ng-container>
    </div>
    <div class="col flex-grow-0" role="button" (click)="showAlert = false">
      <i class="fa-solid fa-circle-xmark"></i>
    </div>
  </div>
</div>

<!-- Create fragment form. It's hidden when fragment is created -->
<form (submit)="createFragment()" [formGroup]="formGroup" novalidate *ngIf="!saved">
  <div class="mb-3">
    <label for="ontology-name" class="form-label">Ontology Name</label>
    <!-- Ontology selection. On selection, form control value will be set as ontology name. -->
    <!-- On error, configValidationFeedback will show a error message -->
    <select formControlName="ontologyName" id="ontology-name" class="form-select" configValidationFeedback required>
      <option value="">Select an Ontology</option>
      <option *ngFor="let ontology of ontologies" [value]="ontology.name">{{ ontology.name }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="fragment-name" class="form-label">Ontology fragment name</label>

    <!-- Fragment name input. On error, configValidationFeedback will show a error message -->
    <input formControlName="name"
           id="fragment-name"
           class="form-control"
           type="text"
           placeholder="Fragment name"
           configValidationFeedback
           required>
  </div>



  <div class="mb-3">
    <label for="fragment-file" class="form-label">Ontology fragment file</label>

    <!-- Fragment file input. On error, configValidationFeedback will show a error message -->
    <!-- configFileInput will make form control store selected value -->
    <input formControlName="file"
           id="fragment-file"
           class="form-control"
           type="file"
           accept=".owl"
           configValidationFeedback
           configFileInput
           required>
  </div>

  <div class="text-center text-sm-end">
    <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-sm-1 w-100 w-sm-auto">
      Create
    </button>
    <a routerLink="../" class="btn btn-secondary w-100 w-sm-auto">
      Cancel
    </a>
  </div>
</form>

<ng-container *ngIf="saved">
  <h5>Summary</h5>
  <p>Created ontology fragment:</p>
  <config-summary [data]="summary"></config-summary>
</ng-container>
