<div class="vw-100 vh-100 d-flex flex-column">
  <div class="alert alert-warning" *ngIf="canceled">
    <strong>Login canceled</strong>
    <br>
    You have to provide permission to this app to be able to manage your tests.
  </div>

  <h4 class="w-100 text-center mb-1 mt-5">XD Testing</h4>
  <h1 class="w-100 text-center">Configurator</h1>

  <div class="flex-grow-1 d-flex align-items-center justify-content-center vw-100">
    <a class="btn btn-outline-dark" href="{{serverBaseUrl}}/login">
      <i class="fa-brands fa-github me-2"></i>
      Login with GitHub
    </a>
  </div>
</div>
