# PhpStorm
.idea

# Visual Studio Code
.vscode

# Composer
vendor
composer.phar

# Logs
/logs/*
!/logs/README.md

# Local secrets
.env

# PHP-CS-Fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache

# PHPUnit
/coverage/
/.phpunit.cache
.phpunit.result.cache
