<ng-container *ngIf="formGroupSpec && formGroupSpec.formGroup" [formGroup]="formGroupSpec.formGroup">
  <label class="form-label">{{ formGroupSpec.label }}</label>
  <div class="d-flex align-items-center mb-2">
    <p-inputSwitch [(ngModel)]="useUploadedFile"
                   [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="onToggle()">
    </p-inputSwitch>

    <span class="ms-2">Use uploaded "{{ formGroupSpec.label }}"</span>
  </div>

  <div class="d-flex align-items-center mb-2" *ngIf="!useUploadedFile">
    <p-inputSwitch [(ngModel)]="uploadFile"
                   [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="onToggle()">
    </p-inputSwitch>
    <span class="ms-2">Upload new "{{ formGroupSpec.label }}"</span>
  </div>

  <small class="d-block" *ngIf="currentFile" [class.mb-2]="!shouldShowNewFile()">
    Current "{{ formGroupSpec.label }}" file: <b>{{ currentFile }}</b>
  </small>

  <small class="d-block" *ngIf="shouldShowNewFile()" [class.mb-2]="shouldShowNewFile()">
    New "{{ formGroupSpec.label }}" file: <b>{{ formGroupSpec.formGroup.controls.file.value?.[0].name || formGroupSpec.formGroup.controls.fileName.value }}</b>
  </small>


  <button type="button" class="btn btn-primary w-100 w-sm-auto" *ngIf="useUploadedFile"
          (click)="pickExisting()">
    Select existing "{{ formGroupSpec.label }}" file
  </button>

  <div *ngIf="!useUploadedFile">
    <ng-container *ngIf="showDefaultInput">
        <textarea class="form-control code-input" formControlName="content" *ngIf="!uploadFile"
                  [placeholder]="formGroupSpec.placeholder">
        </textarea>
    </ng-container>

    <input class="form-control"
           type="file"
           *ngIf="uploadFile"
           formControlName="file"
           (change)="selectedNewFile = true"
           configFileInput>
  </div>

</ng-container>

<ng-container *ngIf="!showDefaultInput">
  <ng-content></ng-content>
</ng-container>
