<ng-container *ngIf="formGroups">
  <div class="mb-5" *ngFor="let fg of formGroups; let i = index" [formGroup]="fg.formGroup">

    <label class="form-label">{{ fg.label }}</label>
    <div class="d-flex align-items-center mb-2">
      <p-inputSwitch [(ngModel)]="useUploadedFile[i]"
                     [ngModelOptions]="{standalone: true}"
                     (ngModelChange)="onToggle(i, fg.formGroup, $event)">
      </p-inputSwitch>

      <span class="ms-2">Use uploaded {{ fg.label | lowercase }}</span>
    </div>

    <div class="d-flex align-items-center mb-2" *ngIf="!useUploadedFile[i]">
      <p-inputSwitch [(ngModel)]="uploadFile[i]"
                     [ngModelOptions]="{standalone: true}"
                     (ngModelChange)="onToggle(i, fg.formGroup, $event)">
      </p-inputSwitch>
      <span class="ms-2">Upload new {{ fg.label | lowercase }}</span>
    </div>

    <small *ngIf="currentFiles[i]">
      Current {{ fg.label | lowercase }} file: <b>{{ currentFiles[i] }}</b>
    </small>

    <small *ngIf="fg.formGroup.controls.file.value && fg.formGroup.controls.file.value !== currentFiles[i]">
      New {{ fg.label | lowercase }} file: <b>{{ fg.formGroup.controls.file.value }}</b>
    </small>


    <button type="button" class="btn btn-primary w-100 w-sm-auto" *ngIf="useUploadedFile[i]"
            (click)="onShowExistingFiles.emit(fg)">
      Select existing {{ fg.label | lowercase }} file
    </button>

    <div *ngIf="!useUploadedFile[i]">
      <ng-container *ngIf="showDefaultInput">
        <textarea class="form-control code-input" formControlName="content" *ngIf="!uploadFile[i]"
                  [required]="!uploadFile[i] && !useUploadedFile[i]">
        </textarea>
      </ng-container>

      <input class="form-control"
             type="file"
             *ngIf="uploadFile[i]"
             formControlName="file"
             configFileInput
             [required]="uploadFile[i] && !useUploadedFile[i]">
    </div>

  </div>
</ng-container>

<ng-container *ngIf="!showDefaultInput && showContentInput">
  <ng-content></ng-content>
</ng-container>
