<h1 class="text-center text-sm-start mb-1">Tests</h1>


<config-alert [type]="error ? 'danger' : 'success'" [(isOpen)]="showAlert">
  <ng-container *ngIf="error">
    {{ error }}
  </ng-container>

  <ng-container *ngIf="!error">
    Test deleted successfully.
  </ng-container>
</config-alert>


<div class="row align-items-center mb-5">
  <div class="col-12 col-sm-9 col-lg-10 text-center text-sm-start">
    {{ tests.length }} test{{ tests.length !== 1 ? 's' : ''}} created
  </div>
  <div class="col-12 col-sm-3 col-lg-2 text-center text-sm-end">
    <a routerLink="./create" class="btn btn-primary w-100 w-sm-auto">
      <i class="fa-solid fa-plus"></i>&nbsp;Add Test
    </a>
  </div>
</div>

<p-table [value]="tests" responsiveLayout="scroll" [loading]="(apiService.$loading | async) || deleting"
         [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,75,100,150]">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-test>
    <tr>
      <td>{{ test.id }}</td>
      <td>{{ testLabel(test.type) }}</td>
      <td class="text-end">
        <a [routerLink]="['./', test.id]" class="btn btn-sm btn-outline-warning me-1">
          <i class="fa-solid fa-pencil"></i>
        </a>
        <button class="btn btn-sm btn-outline-danger" (click)="removeTest(test.id)">
          <i class="fa-solid fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="text-center" colspan="2">
        No tests defined yet.
      </td>
    </tr>
  </ng-template>
</p-table>
