

<ng-container *ngIf="fragment">
  <h1>{{ fragment.name }}</h1>

  <p class="mb-5">
    <b>Ontology name:</b> {{ fragment.ontologyName }}
  </p>
</ng-container>

<config-alert [type]="errorMsg ? 'danger' : 'success'" [(isOpen)]="showAlert">
  <ng-container *ngIf="errorMsg">
    {{ errorMsg }}
  </ng-container>

  <ng-container *ngIf="successMsg">
    {{successMsg}}
  </ng-container>
</config-alert>

<ng-container *ngIf="fragment">
  <div class="row mb-2">
    <h3 class="col-12 col-sm-9">Data</h3>
    <div class="col-12 col-sm-3 text-end">
      <label class="btn btn-primary w-100 w-sm-auto">
        <i class="fa-solid fa-upload me-2"></i>
        Upload
        <input type="file"
               class="visually-hidden"
               multiple
               configFileInput
               (change)="uploadFiles($event)"
        >
      </label>
    </div>
  </div>
  <div class="mb-5">
    <p-table [value]="fragmentFiles" responsiveLayout="scroll" [paginator]="true"
             [rows]="5" [rowsPerPageOptions]="[5,10,20]" [loading]="uploading">
      <ng-template pTemplate="body" let-file>
        <tr>
          <td>{{file}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" colspan="2">
            No data uploaded yet.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <div class="row">
    <h3 class="col-12 col-sm-9">Tests</h3>

    <div class="col-12 col-sm-3 text-end">
      <a class="btn btn-primary mb-2 w-100 w-sm-auto" routerLink="./create-test">
        <i class="fa-solid fa-plus me-2"></i>
        Create New
      </a>
    </div>
  </div>
  <p-table [value]="tests" responsiveLayout="scroll" [loading]="deleting" [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,75,100,150]">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-test>
      <tr>
        <td>{{ test.id }}</td>
        <td>{{ testLabel(test.type) }}</td>
        <td class="text-end">
          <a [routerLink]="['./edit-test', test.id]" class="btn btn-sm btn-outline-warning me-sm-1">
            <i class="fa-solid fa-pencil"></i>
          </a>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteTest(test.id)">
            <i class="fa-solid fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="3">
          No tests defined yet.
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
