<div class="alert alert-danger" *ngIf="error">
  {{ error }}
</div>

<strong class="d-block mb-3">Select the repository and the branch to work on</strong>

<div class="mb-3" validationFeedback>
  <div class="form-label">Repository</div>

  <select class="form-select"
          required
          [(ngModel)]="selectedRepo"
          [disabled]="loading"
          (ngModelChange)="onRepositorySelection()"
  >
    <option [ngValue]="undefined"></option>

    <ng-container *ngFor="let repo of repos">
      <option *ngIf="!repo.archived" [ngValue]="repo.full_name">
        {{ repo.full_name }}
      </option>
    </ng-container>
  </select>
</div>


<div class="mb-3" validationFeedback>
  <div class="form-label">Branch</div>

  <select class="form-select"
          required
          [(ngModel)]="selectedBranch"
          [disabled]="!selectedRepo || loading"
          (ngModelChange)="onBranchSelection()"
  >
    <option [ngValue]="undefined"></option>
    <ng-container *ngFor="let branch of branches;">
      <option *ngIf="!branch.protected" [ngValue]="branch.name">
        {{ branch.name }}
      </option>
    </ng-container>
  </select>
</div>

<div validationFeedback>
  <div class="form-label">Testing type</div>

  <select class="form-select"
          required
          [(ngModel)]="selectedTestingType"
          [disabled]="!selectedRepo || !selectedBranch || loading"
          (ngModelChange)="onTestingTypeSelection()"
  >
    <option [ngValue]="undefined"></option>
    <option value="XD_TESTING">Extreme design</option>
    <option value="STANDARD">Standard</option>
  </select>
</div>

<div class="mt-5 mb-2 text-end">
  <button class="btn btn-primary w-100 w-sm-auto" (click)="saveRepository()">Save</button>
</div>
