<h1 class="mb-5">Actions</h1>

<p-table [value]="workflowRuns" responsiveLayout="scroll" [paginator]="true" [rows]="25" [rowsPerPageOptions]="[25,50,75,100,150]">
  <ng-template pTemplate="body" let-run>
    <tr (click)="openRun(run.html_url)" role="button">
      <td>
        <i class="fa-solid"
           [ngClass]="{
             'fa-circle-xmark text-danger': run.conclusion === 'failure',
             'fa-circle-check text-success': run.conclusion === 'success'
           }">
        </i>
      </td>
      <td>
        <strong class="d-block">{{ run.head_commit.message }}</strong>
        <small class="text-muted">
          <b>{{ run.name }}</b>
          #{{ run.run_number }}:
          Commit {{ run.head_commit.id | slice:0:7 }}
          pushed by {{ run.head_commit.author.name }}
        </small>
      </td>
      <td>
        <div class="badge rounded-pill bg-info text-dark">
          {{ run.head_branch }}
        </div>
      </td>
      <td class="text-muted text-nowrap">
        <small class="d-block">
          <i class="fa-solid fa-calendar"></i>
          {{ getFormattedDate(run.created_at) }}
        </small>
        <small class="d-block">
          <i class="fa-solid fa-clock"></i>
          {{ getTimeSpan(run.run_started_at, run.updated_at) }}
        </small>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">
        No workflow run yet.
      </td>
    </tr>
  </ng-template>
</p-table>
